.listed-features{
	padding-top: 50px;
	padding-bottom: 80px;
	.book-image{
		img{
			width: 100%;
		}
	}
	.feautures-list-wrapper{
		margin-top: 50px;
		.feature-item{
			// padding: 10px;
			position: relative;
			.item-pointer {
				text-align: center;
				padding: 40px 0;
				img{
					height: 60%;
				    width: 60%;
				    // border: 3px solid #ffd800;
				    border-radius: 50%;
				    background-color: #fff; 
				}
			}
			
			p{
				margin: 0px 0px 10px;
			}
		}
	}
}